footer
	nav
		ul.footer_nav
			li
				a(href='#') Contant us
			li
				a(href='#') About us
			li
				a(href='#') Privacy
			li
				a(href='#') Language
	nav
		ul.sns_nav
			li
				a(href='#')
					img(src='/stylesheets/main_icon_sns_01.png')
			li
				a(href='#')
					img(src='/stylesheets/main_icon_sns_02.png')
			li
				a(href='#')
					img(src='/stylesheets/main_icon_sns_03.png')
			li
				a(href='#')
					img(src='/stylesheets/main_icon_sns_04.png')
