extends layout

block content
	.nav_bg_wrapper
		.main_body_wrapper_02
			header
				nav
					.header_wrapper
						h1
							a(href='/')
								img(src='/stylesheets/main_nav_logo.png')
						input.nav_search_input(type='text', name='link', placeholder=' 당신이 찾고 있는 물건이 있는지 검색해보세요.')
						.main_button_rapper
							form(action='/signUp', method='get', style='display: inline;')
								button.sign-up_button 시작하기
							form(action='/signIn', method='get', style='display: inline;')
								button.log-in_button 로그인


	//include footer